<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/condition/index.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
  	  <div class="col-sm-12 text-center" id="body-content">
        <h1 class="display-4">Weather Conditions</h1>
        <a  href="/conditions/new" class="btn btn-primary" id="create-btn">Add Weather Conditions</a>
        <div class="row">
          <% @conditions.each do |condition| %>
            <div class="col-sm-6 col-md-4">
              <h4>Conditions for <%= condition.date.strftime(format='%m/%d/%Y') %></h4>
              <div class="col-sm-12">
                <form action="/conditions/<%=condition.id %>" method="POST" >
                  <input type="hidden" name="_method" value="DELETE">
                  <div class="btn-group">
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete Weather Condition">
                    <a  href="/conditions/<%=station.id%>/edit" class="btn btn-info btn-sm">Edit</a>
                    <a  href="/conditions/<%=station.id%>" class="btn btn-info btn-sm">Show</a>
                  </div>
                </form>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  	</div>
    <%= will_paginate @conditions %>
  </div>
</body>
</html>
