<head>
  <link rel="stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/station/new.css">
</head>

<div class="transbox">
  <form class="form-horizontal" action="/stations/<%= @stations.id %>" method="post">
    <input type="hidden" name="_method" value="PUT" />
    <fieldset>
      <legend>Edit Station</legend>
      <div class="control-group">
        <label class="control-label" name ="station[name]" value="<%= @stations.name %>"/>Station Name</label>
        <div class="controls">
          <input type="text" placeholder="station">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" name ="station[dock_count]" value="<%= @stations.dock_count %>"/>Number of Docks</label>
        <div class="controls">
          <input type="integer" placeholder="docks">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" name ="station[city]" value="<%= @stations.city %>"/>City</label>
        <div class="controls">
          <input type="text" placeholder="city">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" name ="station[installation_date]" value="<%= @stations.installation_date %>"/>Date Installed</label>
        <div class="controls">
          <input type="date" placeholder="date">
        </div>
      </div>
      <br>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-info">Save Changes</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
