<head>
  <link rel="stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/trip/new.css">
</head>

<div class="transbox">
  <form class="form-horizontal" action="/trips/<%= @trips.id %>" method="post">
    <input type="hidden" name="_method" value="PUT" />
    <fieldset>
      <legend>Edit Trip</legend>
      <div class="control-group">
        <label class="control-label"/>Trip Duration</label>
        <div class="controls">
          <input type="text" name ="trip[duration]" value="<%= @trips.duration %>" placeholder="duration">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"/>Start Date</label>
        <div class="controls">
          <input type="date" name ="trip[start_date]" value="<%= @trips.start_date %>" placeholder="start date">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"/>Start Station Name</label>
        <div class="controls">
          <input type="text" name ="trip[start_station_name]" value="<%= @trips.start_station_name %>" placeholder="start station">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"/>Start Station ID</label>
        <div class="controls">
          <input type="text" name ="trip[start_station_id]" value="<%= @trips.start_station_id %>" placeholder="start station">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"/>End Date</label>
        <div class="controls">
          <input type="date" name ="trip[end_date]" value="<%= @trips.end_date %>" placeholder="end date">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"/>End Station Name</label>
        <div class="controls">
          <input type="text" name ="trip[end_station_name]" value="<%= @trips.end_station_name %>" placeholder="end station">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"/>End Station ID</label>
        <div class="controls">
          <input type="text" name ="trip[end_station_id]" value="<%= @trips.end_station_id %>" placeholder="end station">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"/>Bike ID</label>
        <div class="controls">
          <input type="text" name ="trip[bike_id]" value="<%= @trips.bike_id %>" placeholder="bike id">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"/>Subscription Type</label>
        <div class="controls">
          <input type="text" name ="trip[subscription_type]" value="<%= @trips.subscription_type %>" placeholder="subscription type">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"/>Zip Code</label>
        <div class="controls">
          <input type="text" name ="trip[zip_code]" value="<%= @trips.zip_code %>" placeholder="zip code">
        </div>
      </div>
      <br>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-info">Save Changes</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
